<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent access to hidden files
    RewriteRule ^\.|~$ - [F]

    # Handle Front Controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
